.headerWrap {
  width: 100%;
  min-width: 1380px;
  height: 80px;
  background-color: #0e1013;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  color: #fefefe;
  z-index: 1000;
  position: relative;
  align-items: center;
  transition: all 0.3s;
}
.fixed {
  background-color: #080809;
  box-shadow: 0px 0px 10px #0476f05b;
  position: fixed;
  z-index: 1000;
  transition: all 0.3s;
}

.GeoLogo {
  height: 60px;
  transform: translateY(3px);
  object-fit: cover;
}

.GnbWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.GnbWrap > div {
  margin: 0px 20px;
}
.language {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.KrFlag,
.EnFlag {
  margin-left: 7px;
  width: 20px;
  transform: translateY(1px);
}

.EnFlag {
  transform: translateY(3px);
}
.componyInfo {
  position: relative;
  height: 35px;
  display: flex;
  align-items: center;
}

.componyInfo:hover {
  color: #0475f0;
}

.infoWrap {
  position: absolute;
  top: 100%;
  left: -20px;
  background-color: #0e1013;
  padding: 20px;
  z-index: 10;
  width: 100%;
  border-radius: 10px;
  min-width: 90px;
  line-height: 200%;
  color: #fefefe;
  border: 1px solid #0476f04b;
}

.infoWrap > div:hover {
  color: #0475f0;
}

.businessInfo {
  position: relative;
  height: 35px;
  display: flex;
  align-items: center;
}

.businessInfo:hover {
  color: #0475f0;
}

.BusinessWrap {
  position: absolute;
  top: 100%;
  left: -20px;
  background-color: #0e1013;
  padding: 20px;
  z-index: 10;
  width: 100%;
  border-radius: 10px;
  min-width: 90px;
  line-height: 200%;
  color: #fefefe;
  border: 1px solid #0476f04b;
}

.BusinessWrap > div:hover {
  color: #0475f0;
}

.productInfo {
  position: relative;
  height: 35px;
  display: flex;
  align-items: center;
}

.productInfo:hover {
  color: #0475f0;
}

.productWrap {
  position: absolute;
  top: 100%;
  left: -20px;
  background-color: #0e1013;
  padding: 20px;
  z-index: 10;
  width: 100%;
  border-radius: 10px;
  min-width: 90px;
  line-height: 200%;
  color: #fefefe;
  border: 1px solid #0476f04b;
}

.productWrap > div:hover {
  color: #0475f0;
}
.inquiry:hover {
  color: #0475f0;
}

.language {
  position: relative;
  height: 35px;
  display: flex;
  align-items: center;
  outline: none;
}

.language:hover {
  color: #0475f0;
}

.languageWrap {
  position: absolute;
  top: 100%;
  left: -20px;
  background-color: #0e1013;
  padding: 20px;
  z-index: 10;
  width: 100%;
  border-radius: 10px;
  min-width: 70px;
  line-height: 200%;
  color: #fefefe;
  border: 1px solid #0476f04b;
}

.headerIcons {
  width: 14px;
}

.languageWrap:hover {
  color: #0475f0;
}
.inquiry:hover {
  color: #0475f0;
}

.componyInfoArrow {
  fill: #fefefe;
  transition: all 0.3s;
}
.componyInfoArrow.hovered {
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  transition: all 0.3s;
  fill: #0475f0;
}
#componyInfoArrowId {
  width: 14px;
  margin-left: 5px;
}
