.mainIntroBox {
  width: 100%;
  overflow: hidden;
  background-color: #0e1013;
  color: #fefefe;
  padding-bottom: 70px;
}

.mainIntroWrap {
  width: 1320px;
  margin: 0 auto;
}
.mainIntroTitle {
  font-size: 55px;
  font-weight: bold;
}

.mainIntroSubTitle {
  font-size: 16px;
  opacity: 0.8;
  margin-top: 40px;
  line-height: 160%;
}

.mainIntroSubTitle > div {
  margin-top: 4px;
}

.mainIntroGridImgWrap {
  text-align: center;
}

.mainIntroGrid1 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.introContainer {
  margin-top: 30px;
  border-radius: 10px;
  background-color: #1b1c21;
  aspect-ratio: 1/ 1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0px 0px 5px #0476f013;
}

.flask {
  width: 150px;
  height: 150px;
  margin-top: 25px;
}

.mainIntroGridBoxTitle {
  text-align: left;
  font-size: 25px;
}

.mainIntroGridBoxText {
  margin: 25px 0;
  line-height: 160%;
  font-size: 16px;
  opacity: 0.8;
}
.partnerContainer {
  margin-top: 40px;
}

.partnerTitle > .slider-container,
.partnersWrap {
  width: 100%;
  display: flex;
  background-color: #fefefe;
  border-radius: 10px;
}

.customerContainer > .slider-container {
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 50px;
}

.partnerTitle {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
}

.partnerBox {
  width: 100%;
  height: 100px;
  padding: 10px 0;
  text-align: center;
}
.partnerBox:last-child {
  padding: 0px 0;
  height: 120px;
}
.partnerBox > img {
  height: 100%;
}
.customerContainer {
  margin-top: 40px;
}

.customerContainer .slick-slide {
  width: 100%;
}

.customerContainer .slick-track {
  display: flex;
}
.customerBox {
  height: 120px;
  text-align: center;
}

.customerBox > div > img {
  height: 100%;
}

.customerBox > div {
  background-color: #fefefe;
  padding: 10px 0;
  height: 100px;
}
