.mainProductWrap {
  padding-top: 60px;
  overflow: hidden;
  width: 100%;
  background-color: #0e1013;
  color: #fefefe;
}

.mainProductBox {
  width: 1320px;
  margin: 0 auto;
}

.mainProductTitle {
  font-weight: bold;
  font-size: 55px;
}

.mainProdcutGrid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  margin-top: 35px;
  width: 100%;
}

.mainGridBox1,
.mainGridBox2,
.mainGridBox3 {
  background-color: #25262b;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 60px;
}

.MainProductsGridImgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 470px;
}

.mainProductGridImg {
  height: 100%;
  position: relative;
}

.mainGridBoxTextArea {
  padding: 10px 20px 20px 20px;
  border-top: 1px solid #fefefe;
}

.mainGridBoxTextAreaTitle {
  font-size: 25px;
  font-weight: bold;
}
.mainGridBoxTextAreaText {
  margin-top: 10px;
  opacity: 0.8;
}

.mainGridBoxTextAreaButton {
  padding: 5px 30px;
  border-radius: 5px;
  border: 1px solid #fefefe;
  margin-top: 30px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}

.mainGridBoxTextAreaButton:hover {
  color: #0475f0;
  border: 1px solid #0475f0;
  transition: all 0.3s;
}
